:host {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.country__flag {
  width: 100%;
  min-height: 150px;
  height: 150px;
}

.country__body {
  padding: 2rem;

  &__name {
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__population {
    margin-top: 1.5rem;
  }
}