:host {
  box-shadow: 0 1px 5px #00000079;
  border-radius: 5px;
  background: var(--elements);

}

.country__flag {
  width: 100%;
  min-height: 150px;
  height: 150px;
  object-fit: cover;
}

.country__body {
  padding: 2rem;

  &__name {
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__population {
    margin-top: 1.5rem;
  }
}