:host {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  background: var(--elements);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.title {
  font-weight: 700;
}

.theme {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: .2rem;

  &__icon {
    width: 20px;
    height: 20px;

    // &.dark {
    //   filter: invert(1);
    // }

    // &.light {
    //   filter: invert(0);
    // }
  }
}