:host {
  background: var(--elements);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 5px #00000079;
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.title {
  font-weight: 700;
}

.theme {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: .3rem;
  user-select: none;

  & .icon {
    width: 18px !important;
    height: 18px !important;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 1rem 0;
  }
}