.filter__box {
  background: var(--dark-blue);
  border-radius: 5px;
  color: var(--white);
  position: relative;
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-top: 3rem;
  font-size: 14px;
  font-weight: 300;

  .icon {
    width: 16px !important;
    height: 16px !important;
  }
}

.regions {
  display: none;

  &.open {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--dark-blue);
    margin-top: 2.5rem;
    border-radius: 5px;
  }

  .region {
    display: flex;
  }
}