.filter__box {
  background: var(--elements);
  border-radius: 5px;
  color: var(--color-text);
  position: relative;
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-top: 3rem;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 1px 5px #00000079;

  .icon {
    width: 16px !important;
    height: 16px !important;
  }
}

.regions {
  display: none;

  &.open {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--elements);
    margin-top: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 1px 5px #00000079;
    transition: display .5s ease-in-out;
  }

  .region {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .filter__box {
    margin-top: 0;
  }
}