:host {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1440px;
  gap: 2rem;

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}