.icon {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat !important;
  mask-repeat: no-repeat !important;
  mask-size: contain !important;
  color: currentColor !important;
  display: block;

  &.search {
    background: currentColor !important;
    mask-image: url('/assets/icons/search.svg') !important;
  }

  &.moon {
    background: currentColor !important;
    mask-image: url('/assets/icons/moon.svg') !important;
  }

  &.sun {
    background: currentColor !important;
    mask-image: url('/assets/icons/sun.svg') !important;
  }

  &.arrow-down {
    background: currentColor !important;
    mask-image: url('/assets/icons/arrow-down.svg') !important;
  }

  &.back-arrow {
    background: currentColor !important;
    mask-image: url('/assets/icons/back-arrow.svg') !important;
  }
}