.icon {
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-repeat: no-repeat !important;
  mask-size: contain !important;
  color: currentColor !important;

  svg {
    width: 100%;
    height: 100%;
    background-color: red;
    color: red;
  }

  &.search {
    background-color: currentColor !important;
    background: currentColor !important;
    mask-image: url('/assets/icons/search.svg') !important;
  }

  &.moon {
    background-color: currentColor !important;
    background: currentColor !important;
    mask-image: url('/assets/icons/moon.svg') !important;
  }

  &.sun {
    background-color: currentColor !important;
    background: currentColor !important;
    mask-image: url('/assets/icons/sun.svg') !important;
  }

  &.arrow-down {
    background-color: currentColor !important;
    background: currentColor !important;
    mask-image: url('/assets/icons/arrow-down.svg') !important;
  }
}