:root {
  // Widths
  --mobile: 375px;
  --desktop: 1440px;

  // Colors

  // - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  // - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  // - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  // - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  // - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  // - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  // Fonts
  --14: 14;
  --16: 16;
}

body.light {
  background: var(--very-light-gray);
  // --background: var(--very-light-gray);
  color: var(--very-dark-blue-text);
  // --color-text: var(--very-dark-blue-text);
  --elements: var(--white);
  --input: var(--dark-gray);
}

body.dark {
  background: var(--very-dark-blue);
  // --background: var(--very-dark-blue);
  color: var(--white);
  // --color-text: var(--white);
  --elements: var(--dark-blue);
  --input: var(--white);
}