

<button
  (click)="onBack()"
  class="back__button">
  Back
</button>

<img
  [src]="country().flag"
  [alt]="country().name + ' Flag'">

<p class="country__name">
  {{ country().name }}
</p>

<p>
  <span>Native Name: </span> {{ country().nativeName }}
</p>
<p>
  <span>Population: </span> {{country().population }}
</p>
<p>
  <span>Region: </span> {{country().region }}
</p>
<p>
  <span>Sub Region: </span> {{country().subregion }}
</p>
<p>
  <span>Capital: </span> {{country().capital }}
</p>

<p>
  <span>Top Level Domain: </span> {{country().topLevelDomain }}
</p>
<p>
  <span>Currencies: </span> {{ country().formatedCurrencies }}
</p>
<p>
  <span>Languages: </span> {{ country().formatedLanguages }}
</p>

<section class="country__borders">
  <span class="country__borders__title">Border Countries: </span>

  <section class="country__borders__items">
    @for (border of country().borders; track $index) {
    <article class="border">
      {{ border }}
    </article>
    }
  </section>
</section>