.country__details {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding-block: 3rem;
}

.back__button {
  box-shadow: 0 1px 5px #00000079;
  border-radius: 5px;
  background: var(--elements);
  padding: .5rem 1.5rem;
  display: flex;
  gap: .5rem;
  font-weight: 300;

  & .icon {
    width: 20px !important;
    height: 20px !important;
  }
}

.country__flag {
  width: 100%;
  margin-top: 5rem;
}

.country__name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 3rem;
}

.country__detail {
  margin-top: .5rem;
  font-size: 14px;

  &__item {
    font-weight: 700;
  }

  &.tld {
    margin-top: 2rem;
  }
}

.country__borders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  &__title {
    font-weight: 700;
    font-size: 16px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .border {
      background: var(--elements);
      padding: .5rem 1.5rem;
      box-shadow: 0 1px 5px #00000079;
      border-radius: 5px;
    }
  }

}

@media screen and (min-width: 768px) {
  .country__details__container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 4rem;
  }

  .country__flag {
    width: 30%;
    height: 300px;
    margin-top: 0;
  }

  .country__name {
    font-size: 1.7rem;
  }

  .country__details__content {
    flex: 1;
  }

  .conuntry__details__cols {
    display: flex;
    justify-content: space-between;
  }

  .country__borders {
    margin-top: 4rem;
  }
}