:host {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--dark-blue);
  width: 90%;
  margin: 2rem auto 0;
  border-radius: 5px;
}

.search__icon {
  width: 18px;
  height: 18px;

  &.dark {
    filter: invert(1);
  }
}

.input {
  flex: 1;
}