:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--dark-blue);
  border-radius: 5px;
}

.search__input {
  flex: 1;

  &::placeholder {
    color: var(--white);
    font-weight: normal;
  }
}