:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--dark-blue);
  border-radius: 5px;
  padding: 1rem 2rem;
}

.search__input {
  flex: 1;

  &::placeholder {
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
  }
}

.icon {
  width: 18px !important;
  height: 18px !important;
}