:host {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 15rem;
  padding-bottom: 2rem;
}

.searchbar-filter {
  left: 0;
  padding-inline: 2rem;
  padding-top: 3rem;
  position: fixed;
  top: var(--header-mobile);
  width: 100%;
  background: var(--background);
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  :host {
    margin-top: 7rem;
  }

  .searchbar-filter {
    max-width: 1210px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 14px;
    padding-inline: 0;
    top: var(--header-desktop);
    padding-bottom: .5rem;
  }

}