:host {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.searchbar-filter {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}